<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<form method="post" action="/clientRoot">
    First Name :&nbsp;<input type="text" name="fname"><br><br>
    Sur Name :&nbsp; <input type="text" name="sname"><br>
    <input type="submit" name="btn" value="Enter">
</form>

<a href="/tested" >abc</a>